In [4]:
import pandas as pd
pd.__version__
melb_data = pd.read_csv('data/melb_data.csv')
melb_data

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,202.0,126.0,1970.0,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1.0,94.0,126.0,1970.0,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0,"-37.8072, 144.9941"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,...,2.0,652.0,126.0,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0,"-37.90562, 145.16761"
13576,13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,...,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0,"-37.85927, 144.87904"
13577,13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,...,4.0,436.0,126.0,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0,"-37.85274, 144.88738"
13578,13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,...,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0,"-37.85908, 144.89299"
13579,13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,...,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0,"-37.81188, 144.88449"

### Задание 2.4

In [20]:
import pandas as pd
import numpy as np
def create_medications(names, counts) -> pd.Series:
    medications = pd.Series(
        data=counts,
        index=names
    )
    
    return medications

def get_percent(medications: pd.Series, name: str):
    amount = medications.loc[name]
    percentage = amount * 100 / medications.sum()
    return percentage

In [21]:
names=['chlorhexidine', 'cyntomycin', 'afobazol']
counts=[15, 18, 7]
medications = create_medications(names, counts)

print(get_percent(medications, "chlorhexidine"))

37.5

### Задание 3.5

In [38]:
import pandas as pd
import numpy as np

def create_companyDF(income, expenses, years):
    company_df = pd.DataFrame({
        'Income': income,
        'Expenses': expenses},
    )
    company_df.index = years
    return company_df

def get_profit(df: pd.DataFrame, year):
    if year in df.index:
        return df.loc[year, 'Income'] - df.loc[year, 'Expenses']
    return None

In [36]:
income = [478, 512, 196]
expenses = [156, 130, 270]
years = [2018, 2019, 2020]
df = create_companyDF(income, expenses, years)
display(df)
display(get_profit(df, 2020))

      income  expenses
2018     478       156
2019     512       130
2020     196       270

np.int64(-74)

### Задание 7.2 - Чему равно максимальное количество домов на продажу в районе (Propertycount)?

In [21]:
print(melb_data['Propertycount'].max())

21650.0

### Задание 7.3 - Чему равно стандартное отклонение (разброс) расстояния от центра города до объекта недвижимости?

In [ ]:
print(round(melb_data['Distance'].std()))

### Задание 7.4 - Чему равно отклонение (в процентах) медианного значения площади здания от его среднего значения?

In [16]:
(abs(melb_data['BuildingArea'].median() - melb_data['BuildingArea'].mean())/melb_data['BuildingArea'].mean())

np.float64(0.09764079662364533)

### Задание 7.6 - Сколько спален чаще всего встречается в домах в Мельбурне?

In [23]:
print(melb_data['Bedroom'].mode())

0    3.0
Name: Bedroom, dtype: float64

### Задание 8.1 - У скольких объектов недвижимости из таблицы melb_data отсутствуют ванные комнаты?

In [24]:
melb_data[melb_data['Bathroom'] == 0].shape[0]

34

### Задание 8.2 - Сколько в таблице melb_data объектов недвижимости, которые были проданы риелторской компанией Nelson и стоимость которых составила больше 3 миллионов

In [26]:
melb_data[(melb_data['SellerG'] == 'Nelson') & (melb_data['Price'] > 3000000)].shape[0]

5

### Задание 8.3 - Какова минимальная стоимость участка без здания (площадь здания равна 0) в таблице melb_data?

In [27]:
melb_data[melb_data['BuildingArea'] == 0]['Price'].min()

np.float64(412500.0)

### Задание 8.4 - Какова средняя цена объектов недвижимости в таблице melb_data с ценой менее одного миллиона, в которых либо количество комнат больше пяти, либо здание моложе 2015 года?

In [30]:
melb_data[(melb_data['Price'] < 1000000) & ((melb_data['Rooms'] > 5) | (melb_data['YearBuilt'] > 2015))]['Price'].mean()

np.float64(769238.6363636364)

### Задание 8.5 - В каком районе Мельбурна чаще всего продаются виллы и коттеджи (тип здания — h) с ценой меньше трёх миллионов?

In [39]:
melb_data[(melb_data['Type'] == 'h') & (melb_data['Price'] < 3000000)]['Regionname'].value_counts()

Regionname
Northern Metropolitan         2737
Southern Metropolitan         2520
Western Metropolitan          2286
Eastern Metropolitan          1167
South-Eastern Metropolitan     387
Eastern Victoria                50
Northern Victoria               41
Western Victoria                32
Name: count, dtype: int64

# Закрепление знаний

In [1]:
import pandas as pd

students_data = pd.read_csv('data/students_performance.csv')
students_data

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

### Задание 9.1 - Данные о скольких студентах содержатся в таблице?

In [2]:
students_data.shape[0]

1000

### Задание 9.2 - Каков балл по письму у студента под индексом 155?

In [3]:
students_data.loc[155, 'writing score']

np.int64(88)

### Задание 9.3,4,5

In [4]:
students_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

### Задание 9.6 - Каков у студентов средний балл по математике?

In [5]:
students_data['math score'].mean()

np.float64(66.089)

### Задание 9.7 - Какая расовая группа является самой крупной в учебном заведении?

In [6]:
students_data['race/ethnicity'].value_counts()

race/ethnicity
group C    319
group D    262
group B    190
group E    140
group A     89
Name: count, dtype: int64

### Задание 9.8 - Каков средний балл по чтению у студентов, которые посещали курсы подготовки к экзаменам?

In [7]:
students_data[students_data['test preparation course'] == 'completed']['reading score'].mean()

np.float64(73.89385474860335)

### Задание 9.9 - Сколько студентов получили 0 баллов по математике?

In [8]:
students_data[students_data['math score'] == 0].shape[0]

1

### Задание 9.10 - Проверьте гипотезу: у студентов с оплачиваемым питанием средний балл по математике выше, чем у студентов с льготным питанием.
### В качестве ответа напишите наибольший средний балл по математике среди этих групп студентов.

In [10]:
paid_students_score = students_data[students_data['lunch'] == 'standard']['math score'].mean()
free_students_score = students_data[students_data['lunch'] == 'free/reduced']['math score'].mean()
print('paid', round(paid_students_score))
print('free', round(free_students_score))

paid 70
free 59

### Задание 9.11 - Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата (bachelor's degree)?

In [11]:
students_data['parental level of education'].value_counts(normalize=True)

parental level of education
some college          0.226
associate's degree    0.222
high school           0.196
some high school      0.179
bachelor's degree     0.118
master's degree       0.059
Name: proportion, dtype: float64

### Задание 9.12 - Насколько медианный балл по письму у студентов в расовой группе А отличается от среднего балла по письму у студентов в расовой группе C?

In [22]:
median_A = students_data[students_data['race/ethnicity'] == 'group A']['writing score'].median()
mean_C = students_data[students_data['race/ethnicity'] == 'group C']['writing score'].mean()
abs(median_A - mean_C)

np.float64(5.827586206896555)